.homepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh; 
    padding: 0 20px; 
  }
  
  .homepage .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 20px; 
  }
  
  .homepage .content h1,
  .homepage .content p {
    margin: 0;
    padding: 0;
  }
  
  .homepage .content h1 {
    font-size: 4rem; 
    font-weight: bold;
  }
  
  .homepage .content p {
    font-size: 2rem; 
    margin-top: 10px; 
  }
  
  .homepage .image-container img {
    max-width: 50%; 
    height: auto;
  }
  