.myorderscard {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid black;
  width: 30vw;
  height: 70vh;
  padding: 10px 5px;
  position: relative;
  top: 5vh;
  left: 2%;
  margin: 10px;
}

.myorderscard span {
  position: relative;
  top: 5%;
  left: -30%;
  padding: 5px;
}

.myorderscard button {
  position: relative;
  left: 40%;
  width: 50%;
  padding: 10px;
  padding-right: 10px;
}

.myorders button {
  position: relative;
}
