.navbar {
  background: #729e45;
}

.navbar ul {
  display: flex;
  list-style: none;
  font-weight: bold;
}

.navbar ul li {
  display: inline-flex;
  padding: 10px ;
  color: white;
}

.navbar ul li a {
  text-decoration: none;
  color: inherit; /* Adjust this to match your design */
}

.navbar ul li a.active {
  font-weight: bold;
  /* Add any additional styling for active links */
}
.sendit,
.it {
  font-style: italic;
  font-size: 45px;
  font-weight: bold;
}

.sendit {
  color: #fff;
}

.it {
  color: #65558f;
}
